$footer: #5e729a;
$characters: #050505;

$japanese: #fcb7a8;
$math: #ace0fc;
$social: #fee19c;
$science: #9efdb4;
$english: #fdbdf8;

$teacher_bg: #fafafa;

$monday: #f0cef7;
$tuesday: #fadad1;
$wednesday: #d1e9fb;
$thursday: #d0f9dd;
$friday: #faf5a5;

$unavailable: #aaa;
$completed: #f9f4a5;
$arrow: #ff5100;

$student_login_bg: #f6f6f6;
$student_login_header: #fdfdfd;
$student_login_button: #aaa;

$teacher_login_bg: #c4d6fb;
$teacher_login_header: #b3dcfa;
$teacher_login_button: #6a70b9;
