.title {
  height: 16vh;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 120%;

  cursor: pointer;
}

.navigation {
  position: relative;

  width: 95%;

  left: 50%;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);

  .navi {
    float: left;
    width: 16%;
    padding: 4vh 0;
    text-align: center;
    border: 1px solid #000000;
    background: #eee;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 120%;

    cursor: pointer;
  }
}