.login {
  position: relative;

  left: 50%;
  margin-top: 70px;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);

  width: 75vw;
  height: 70vh;

  background: #fff;

  .title {
    position: relative;

    left: 0;
    top: 0;

    width: 100%;
    height: 25%;

    background: #eee;
  }

  .id {
    position: relative;

    left: 50%;

    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
  }
}