$mainSize:220%;
$margin:30px;

body{
    margin:0;
}

.title{
    position: relative;
    margin:$margin;
    width:20%;
    font-size:$mainSize;
    left:5%;
    border-bottom:solid 2px #000;
}

.scrollTeacher{
    position: relative;
    margin:$margin;
    margin:0 auto;
    left:5%;
    width:80%;
    height: 200px;
}


.scrollLeft{
    position: relative;
    display: inline-block;
    font-size:450%;
    cursor: pointer;
    visibility: hidden;
    width: 10%;
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
}

.teachers{
    position: relative;
    width:80%;
    display: inline-block;
}

.inTeacher{
    position: absolute;
    left: 0;
    margin:0 5px;
    padding:0 10px;
    display:inline-block;
    background: white;
    width:15%;
    text-align: center;
    border:solid 1px #000;
    border-radius: 10%;
    transition-duration: 1s;
    transition-property: left opacity width;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    opacity: 0;
    z-index:0;
}
$i:0;

.teacher{
    position: absolute;
    left:40%;
    opacity: 0;
    background: white;
    margin:0 1%;
    padding:0 1%;
    display:inline-block;
    width:15%;
    text-align: center;
    border:solid 1px #000;
    border-radius: 10%;
    transition-duration: 1s;
    transition-property: left;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
}

@while $i < 5{
.teacher#{$i}{
    position: absolute;
    left: (19% * $i);
    background:white;
    margin:0 1%;
    padding:0 1%;
    width:15%;
    text-align: center;
    border:solid 1px #000;
    border-radius: 10%;
    transition-duration: 1s;
    transition-property: left opacity;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    z-index:$i;
}
$i:$i+1;
}

.outTeacher{
    position: absolute;
    left: 76%;
    margin:0 1%;
    padding:0 1%;
    background: white;
    width:15%;
    text-align: center;
    border:solid 1px #000;
    border-radius: 10%;
    opacity:0;
    transition-duration: 1s;
    transition-property: left opacity;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    z-index:0;
}



.image{
    border-radius: 50%;
    background: #000;
    height:165px;
    
}

.name{
    position: relative;
    display: inline-block;
}

.scrollRight{
    position: relative;
    display: inline-block;
    right:0;
    font-size:450%;
    cursor: pointer;
    z-index:5;
    width:10%;
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
}

.calender{
    position: relative;
    margin:0 auto;
    text-align: center;
    width:80%;
    left:-1%
}

.calender .title{
    border:none;
    width:80%;
    transition:0;
    left:0;
}

.calender .titl{
    border:solid 1px #000;
    width:80%;
    left:10%;
    transition:3s;
}



.weeks{
    position: relative;
    left:10%;
    text-align: left;
}

.week{
    position: relative;
    font-size: $mainSize;
    width:16%;
    border:solid 1px #000;
    display: inline-block;
    border-bottom: double 4px #000;
    text-align: center;
}

.times{
    position: relative;
    text-align: left;
}

.classes{
    position: relative;
    display: inline-block;
    width:10%;
    left:0;
    text-align: left;
}

.class{
    position: relative;
    display:block;
    border:solid 1px #000;
    height:100px;
    font-size:$mainSize;
    text-align: center;
}

.cl{
    position: absolute;
    display: inline-block;
    width:100%;
}

.time{
    position: relative;
    top:0;
    display: inline-block;
    border:solid 1px #000;
    height:100px;
    width:16%;
    cursor: pointer;
}

.time:hover{
    background:skyblue
}

#monday{
    background: red;
}

#tuesday{
    background: blue;
}

#wednesday{
    background:yellow;
}

#thursday{
    background:pink;
}

#friday{
    background:purple;
}

#saturday{
    background:yellowgreen;
}

.pops{
    position: fixed;
    display:none;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    z-index:10;
}

.bookSheet{
    position:relative;
    margin:0 auto;
    background:white;
    width:40%;
    height:50%;
    top:25vh;
}

.cancel{
    position: relative;
    margin-right:5px;
    float: right;
    top:0;
    font-size: $mainSize;
    cursor: pointer;
}

.sheet{
    position: relative;
    top:10%;
    height: 80%;
}

.cliant{
    position: relative;
    top:6%;
    left:10%;
    font-size: $mainSize;
}

.bookTime{
    position: relative;
    top:10%;
    text-align:center;
    font-size: $mainSize;
}

.bookTeacher{
    position: relative;
    text-align:right;
    right:10%;
    top:10%;
    font-size: 180%;
}

.bookText{
    position: relative;
    width:100%;
    text-align:center;
    margin:0 auto;
    top:15%;
    font-size:$mainSize;
}

.bookButton{
    position: relative;
    height: 20%;
}

.doubleButton{
    position: relative;
    width:50%;
    height:100%;
    display: inline-block;
}

.Button{
    position:relative;
    font-size: $mainSize;
    float: left;
    width:100%;
    text-align:center;
    cursor: pointer;
}

.Button{
    position: relative;
    font-size:$mainSize;
    float: left;
    width:100%;
    text-align:center;
    cursor: pointer;
}